
<% if user_signed_in? %>
    <% if current_user.has_role? :admin %>
        <%= render 'admin' %>
    <% elsif current_user.has_role? :manager %>
        <%= render 'manager' %>
    <% else %>
        <%= render 'reader' %>
    <% end %>
<% else %>
    <h2>Sign up to access our services</h2>
    <h3>Available books</h3>
    <strong>More than <%= @books.count - 1 %> units</strong>
    <h3>Users</h3>
    <strong>More than <%= @users.count - 1 %> already users trust us</strong>
<% end %>