<%= simple_form_for(@loan) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    
    <%= f.select :user_id, options_for_select(User.all.each{ |u| print '#{u.name}'}) %>
    <% User.find_by_name('admin').id %>
    <%= f.input :user_id, placeholder: '1' %>

    <%= f.input :book_id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
