<h1>Listing loans</h1>

<table class="table">
  <tr>
    <th>User</th>
    <th>Book</th>
    <th>Return date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @loans.each do |loan| %>
  <tr>
    <td><%= User.find(loan.user_id).name %></td>
    <td><%= Book.find(loan.book_id).title %></td>
    <td><%= loan.return_date.strftime('%d-%m-%Y')%></td>
    <td><%= link_to 'Show', loan, :class=> 'btn btn-info'%></td>
    <%if @current_user.has_role? :admin or @current_user.has_role? :manager %>
      <td><%= link_to 'Edit', edit_loan_path(loan), :class=> 'btn btn-warning' %></td>
      <td><%= link_to 'Destroy', loan, :class=> 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%if @current_user.has_role? :admin or @current_user.has_role? :manager %>
  <%= link_to 'New Loan', new_loan_path, :class=> 'btn btn-success' %>
<% end %>
