<p id="notice"><%= notice %></p>

<p>
  <b>Return date:</b>
    <% if @loan.return_date == '9999-09-09'.to_date %>
        <% date = 'Unlimited' %>
    <% else %>
        <% date = @loan.return_date.strftime('%d-%m-%Y') %>
    <% end %>
    <%= date%>
</p>

<p>
  <b>User:</b>
  <%= @loan.user.name %>
</p>

<p>
  <b>Book:</b>
  <%= @loan.book.title %>
</p>


<%= link_to 'Close', loans_path, :class=> 'btn btn-success'%> 

<%if @current_user.has_role? :admin or :manager %>
    <%= link_to 'Edit', edit_loan_path(@loan), :class=> 'btn btn-warning' %>
<% end %>
