<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @loan.user_id %>
</p>

<p>
  <b>Book:</b>
  <%= @loan.book_id %>
</p>

<p>
  <b>Return date:</b>
  <%= @loan.return_date %>
</p>


<%= link_to 'Edit', edit_loan_path(@loan) %> |
<%= link_to 'Back', loans_path %>
