<%= simple_form_for(@wishlist) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :user, :collection=> User.where('role' => 'reader') %>
    <%= f.association :book %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, :class=> 'btn btn-warning'%>
  </div>
<% end %>
